@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');

body {
    background-color: #202020;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: source code pro;
    font-size: 3rem; 
    text-align: center;
    color: #202020;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family: poppins;
    font-size: 3rem;
    text-align: center;
    color: #202020;
    padding-bottom: 1.5%;
}

h3 {
    font-family: poppins;
    font-size: 1.2rem;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
}

a {
    text-decoration: none;
}

.button {
    height: 25px;
    width: 25px;
    margin-right: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.flex-box {
    display: flex;
    justify-self: center;
    width: 65%;
}

.about-push-right {
    margin-left: 5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    width: 90%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border-radius: 20px 20px 0 0;
}

.grid-container-large {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;
    width: 90%;
    background-color: rgb(203, 203, 203);
    background-image: url("static/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 40px;
    border-radius: 0 0 20px 20px;
}

.grid-container-large-alt {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    width: 100%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%; 
    padding-bottom: 5%;
    overflow: hidden;
}

.grid-container-large-alt-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    width: 100%;
    background-color: #ffbd44;
    margin-left: auto;
    margin-right: auto;  
    overflow: hidden;
    padding-top: 5%;
    padding-bottom: 7.5%;
}

.grid-items-buttons {
    text-align: right;
}

.typewriter h1 {
    color: #202020;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #ffbd44; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; /* Adjust as needed */
    animation: 
      typing 2s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #ffbd44}
}

img {
    display: block;
    border-radius: 50%;
    border: 10px transparent gray;
    box-shadow: 0 20px 20px rgba(0,0,0,.5);
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

ul{
    margin-left: -30px;
    display: flex;
    justify-content: center;
}

ul li{
    width: 30px;
    height: 30px;
    margin: 0 30px;
    list-style: none;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

ul li:before {
    position: absolute;
    content: '';
    height: 55px;
    width: 55px;
    border-radius: 50%;
    transition: all .3s linear;
}

ul li:before{
    border: 2px solid white;
}

ul li:nth-child(1):hover:before{
    border: 3.5px solid #171515;
    transition: .3s linear;
}

ul li:nth-child(2):hover:before{
    border: 3.5px solid #0072b1;
    transition: .3s linear;
}

ul li:nth-child(3):hover:before{
    border: 3.5px solid #DD2A7B;
    transition: .3s linear;
}

ul li:hover:nth-child(1) .fab {
    color: #171515;
    transition: .3s linear;
    transform: scale(1.2);
}

ul li:hover:nth-child(2) .fab {
    color: #0072b1;
    transition: .3s linear;
    transform: scale(1.2);
}

ul li:hover:nth-child(3) .fab {
    color: #DD2A7B;
    transition: .3s linear;
    transform: scale(1.2);
}

ul li i{
    font-size: 32px;
}

ul li .fab{
    color: white;
}

ul li:hover:before{
    transform: scale(1.1);
}

.timeline {
    position: relative;
    width: 65%;
    max-width: 1140px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 8px;
    background: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.container {
    padding: 15px 30px;
    position: relative;
    background: inherit;
    width: 50%;
}

.container.left {
    left: 0;
}

.container.right {
    left: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: -8px;
    background: #ffffff;
    border: 2px solid white;
    border-radius: 16px;
    z-index: 1;
}

.container.right::after {
    left: -8px;
}

.container::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    top: calc(50% - 1px);
    right: 8px;
    background: white;
    z-index: 1;
}

.container.right::before {
    left: 8px;
}

.container .date {
    position: absolute;
    display: inline-block;
    top: calc(50% - 8px);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #202020;
    font-family: poppins;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
}

.container.left .date {
    right: -175px;
}

.container.right .date {
    left: -175px;
}

.container .icon {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 20px;
    padding: 9px 0;
    top: calc(50% - 20px);
    background: #ffbd44;
    border: 4px solid white;
    border-radius: 40px;
    text-align: center;
    font-size: 18px;
    color: white;
    z-index: 1;
}

.container.left .icon {
    right: 56px;
}

.container.right .icon {
    left: 56px;
}

.container .content {
    padding: 30px 90px 30px 30px;
    background: white;
    position: relative;
    border-radius: 0 500px 500px 0;
}

.container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
}

.container .content h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: normal;
    color: #202020;
}

.container .content p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.skills-flex {
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

@-webkit-keyframes growProgressBar {
    0%, 20% { --pgPercentage: 0; }
    100% { --pgPercentage: var(--value); }
}

@keyframes growProgressBar {
    0%, 20% { --pgPercentage: 0; }
    100% { --pgPercentage: var(--value); }
} 
  
@property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}

.skill-animation {
    animation: growProgressBar 1.8s 1 forwards;
    -webkit-animation: growProgressBar 1.8s 1 forwards;
}
  
div[role="progressbar"] {
    margin: 1.5rem;
    --size: 10rem;
    --fg: var(--colour);
    --bg: rgb(32, 32, 32, .05);
    --pgPercentage: var(--value);
    --text: var(var(--text));
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: 
      radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
      ;
    font-family: source code pro;
    font-size: calc(var(--size) / 8);
    color: #202020;
}
  
div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: var(--text); 
}

.flex-project-cards {
    display: flex;
    width: 67.5%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 20rem;
    height: auto;
    background-color: white;
    border-radius: 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
    margin-bottom: 2.5rem;
}

.card-img {
    height: 10rem;
    background-image: url(static/code1.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5% 5% 2.5%;
    border-radius: 15% 15% 0 0;
}

.card-title {
    margin: 0 5% 0;
    text-align: left;
    font-size: 1.8rem;
}

.card-sub {
    margin: 0 5% 10%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
}

.card-desc {
    margin: 0 5% 5%;
}

.card-link {
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    float: right;
    margin: 0 10% 5%;
    text-decoration: unset;
    font-weight: 600;
    color: #202020;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    border-radius: 10px;
    background: #f2f4f6;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
}

.card-link:hover {
    transform: scale(1.05);
    transition: .2s linear;
}

::selection{
    color: #fff;
    background: #ffbd44;
}
  
.wrapper{
    width: 715px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.05);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
}

.wrapper header{
    font-size: 22px;
    font-weight: 600;
    padding: 20px 30px;
    border-bottom: 1px solid #ccc;
}
  
.wrapper form{
    margin: 35px 30px;
}

.wrapper form.disabled{
    pointer-events: none;
    opacity: 0.7;
}

form .dbl-field{
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
}

.dbl-field .field{
    height: 50px;
    display: flex;
    position: relative;
    width: calc(100% / 2 - 13px);
}

.wrapper form i{
    position: absolute;
    top: 50%;
    left: 18px;
    color: #ccc;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
}
 
.message {
    width: 89.5%;
}

form .field input,
form .message textarea{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 18px 0 48px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.field input::placeholder,
.message textarea::placeholder{
    color: #ccc;
}

.field input:focus,
.message textarea:focus{
    padding-left: 47px;
    border: 2px solid #ffbd44;
}
  
.field input:focus ~ i,
.message textarea:focus ~ i{
    color: #ffbd44;
}

form .message{
    position: relative;
}

form .message i{
    top: 30px;
    font-size: 20px;
}

form .message textarea{
    min-height: 130px;
    max-height: 230px;
    max-width: 100%;
    min-width: 100%;
    padding: 15px 20px 0 48px;
}

form .message textarea::-webkit-scrollbar{
    width: 0px;
}

.message textarea:focus{
    padding-top: 14px;
}

form .button-area{
    margin: 25px 0;
    display: flex;
    align-items: center;
}

.button-area button{
    color: #202020;
    border: none;
    outline: none;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 15px;
    padding: 13px 25px;
    width: 40%;
    background: #ffbd44;
    transition: 0.3s ease;
}

.button-area button:hover{
    background: #00ca4e;
    transform: scale(1.02);
    transition: .2s linear;
}

.button-area span{
    font-size: 17px;
    margin-left: 30px;
    display: none;
}

@media (max-width: 600px){
    .wrapper header{
      text-align: center;
    }
    .wrapper form{
      margin: 35px 20px;
    }
    form .dbl-field{
      flex-direction: column;
      margin-bottom: 0px;
    }
    form .dbl-field .field{
      width: 100%;
      height: 45px;
      margin-bottom: 20px;
    }
    form .message textarea{
      resize: none;
    }
    form .button-area{
      margin-top: 20px;
      flex-direction: column;
    }
    .button-area button{
      width: 100%;
      padding: 11px 0;
      font-size: 16px;
    }
    .button-area span{
      margin: 20px 0 0;
      text-align: center;
    }
}